.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
  font-size: large;
}

.logo {
  background-color: #2c3a80;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  border-bottom: #fff 4px solid;
  gap: 10px;
}

.logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a.active {
  border-bottom: 2px solid #fff;
}
